.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 2rem;
  top: 0;
  background-color: var(--clr-primary-header);
  z-index: 2;
}

.header a {
  height: 5rem;
  width: fit-content;
}

.image img {
  height: 100%;
  cursor: pointer;
}

.header button {
  align-self: center;
}

@media screen and (min-width: 850px) {
  .header {
    justify-content: space-between;
  }
}
