.sort {
  position: relative;
  width: 100%;
  border: 2px solid var(--clr-grey-300);
  padding: 0.4rem;
}

.toggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.options {
  position: absolute;
  top: 110%;
  right: 0.05rem;
  width: 100%;
  background-color: white;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
  list-style: none;
  overflow: hidden;
}

.shown {
  max-height: 100rem;
  transition: max-height 1s ease;
}

.hide {
  max-height: 0;
  transition: max-height 1s ease;
}

.options p {
  font-family: var(--ff-heading);
  padding: 0.5rem 1rem;
}

.options button {
  width: 100%;
  padding: 1rem;
  text-align: left;
}

.selected,
.options button:hover {
  background-color: var(--clr-grey-300);
}
