.heading {
  font-family: var(--ff-heading);
  font-size: var(--fs-body);
  margin: 0.5rem 0;
}

.sort {
  width: 100%;
  max-width: 20rem;
}

.button {
  position: relative;
  border: 2px solid var(--clr-grey-200);
}

.button > button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.4rem;
}

.handle {
  font-size: var(--fs-subheading);
}

.dropdown {
  position: absolute;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
  top: 110%;
  width: 100%;
  background-color: white;
  list-style: none;
  overflow: hidden;
}

.option button {
  width: 100%;
  text-align: left;
  padding: 1rem;
}

.selected,
.option button:hover {
  background-color: var(--clr-grey-200);
}

.desktop .button {
  position: static;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border: none;
  text-align: left;
}

.desktop .button > button {
  padding: 0.5rem 1rem;
}

.desktop .button hr {
  border: none;
  border: 1px solid var(--clr-grey-200);
}

.desktop .dropdown {
  position: static;
  box-shadow: none;
}
