.card {
  display: grid;
  grid-template-rows: 15rem auto min-content;
  max-width: 13rem;
  height: fit-content;
}

.image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.text {
  text-align: center;
  padding: 0.5rem;
}

.text h4 {
  font-size: var(--fs-subheading);
  color: var(--clr-accent);
  margin: 0.5rem 0;
  line-height: 1.3;
}

.text > p {
  line-height: 1.2;
}

.location {
  display: flex;
  justify-content: center;
  font-size: var(--fs-subbody);
  margin: 0.75rem 0;
}

.location p {
  padding: 0 0.5rem;
}

.divider {
  border-right: 1px solid black;
}

.button {
  background-color: var(--clr-accent);
  justify-self: center;
  margin-bottom: 1rem;
  padding: 0.2rem 1rem;
  color: white;
  border-radius: 25px;
}
