.sort {
  position: relative;
  width: 100%;
  border: 2px solid var(--clr-grey-200);
  padding: 0.4rem;
  margin: 0.5rem 2rem;
  max-width: 20rem;
}

.toggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle p:last-of-type {
  font-size: var(--fs-subheading);
}
.options {
  position: absolute;
  top: 110%;
  right: 0.05rem;
  width: 100%;
  background-color: white;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
  list-style: none;
  overflow: hidden;
}

.shown {
  max-height: 100rem;
  transition: max-height 1s ease;
}

.hide {
  max-height: 0;
  transition: max-height 1s ease;
}

.options p {
  font-family: var(--ff-heading);
  padding: 0.5rem 1rem;
}

.options button {
  width: 100%;
  padding: 1rem;
  text-align: left;
}

.selected,
.options button:hover {
  background-color: var(--clr-grey-200);
}

.desktop.sort {
  margin: 0;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border: none;
  text-align: left;
}

.desktop .toggle {
  padding: 0.5rem 1rem;
}

.heading {
  font-family: var(--ff-heading);
  font-size: var(--fs-body);
  margin: 0.5rem 0;
}
