.card {
  display: grid;
  grid-template-rows: 15rem auto;
  max-width: 13rem;
  height: fit-content;
}

.image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.text {
  text-align: center;
  padding: 0.5rem;
}

.text h4 {
  font-size: var(--fs-subheading);
  color: var(--clr-accent);
}

.location {
  display: flex;
  justify-content: center;
  font-size: var(--fs-subbody);
  margin: 0.5rem 0;
}

.location p {
  padding: 0 0.5rem;
}

.location p:first-of-type {
  border-right: 1px solid var(--clr-grey-400);
}
