.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 85%;
}

.text {
  padding: 0.75rem;
}

.text h4 {
  font-family: var(--ff-accent);
  font-size: var(--fs-heading);
  color: var(--clr-accent);
}

.text p {
  font-size: var(--fs-body);
}
