.story {
  display: grid;
}

.pawprints {
  align-self: center;
  margin: 0 1rem;
}

@media screen and (min-width: 1500px) {
  .headings {
    position: absolute;
    right: 0;
    width: 20%;
    margin: 0 2rem;
  }

  .headings > * {
    text-align: right;
  }

  .story {
    grid-template-columns: auto auto;
  }

  .story:first-of-type {
    grid-template-columns: 7fr 3fr;
  }

  .story:last-of-type {
    grid-template-columns: 3fr 7fr;
  }
}
