.heading {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
  text-align: center;
}

.subheading {
  margin-bottom: 2rem;
  font-family: var(--ff-accent);
  font-size: var(--fs-subheading);
  text-align: center;
}
