.card {
  display: grid;
  grid-template-rows: auto fit-content;
  align-items: center;
  text-align: center;
  margin: 3rem auto;
  max-width: 20rem;
}

.text {
  padding: 0.75rem;
  padding-bottom: 2rem;
}

.text h4 {
  font-family: var(--ff-accent);
  font-size: var(--fs-heading);
  color: var(--clr-accent);
  margin-bottom: 0.6rem;
}

.text p {
  font-size: var(--fs-body);
}

@media screen and (min-width: 1000px) {
  .card {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1.5fr;
    max-width: 60rem;
    margin: 3rem 0;
  }

  .image {
    height: 100%;
  }

  .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 2rem 1rem;
    text-align: right;
  }
}

@media screen and (min-width: 1650px) {
  .image {
    height: 100%;
  }
}
