.card {
  display: grid;
  align-items: center;
  text-align: center;
  margin: 3rem auto;
}

.text {
  padding: 0.75rem;
}

.text h4 {
  font-family: var(--ff-accent);
  font-size: var(--fs-heading);
  color: var(--clr-accent);
  margin-bottom: 0.6rem;
}

.text p {
  font-size: var(--fs-body);
}

@media screen and (min-width: 1400px) {
  .card {
    grid-template-columns: 13rem 40rem;
    max-width: initial;
    margin: 3rem 0;
  }

  .image {
    height: 100%;
  }

  .image img {
    height: 100%;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 1rem;
    text-align: right;
  }
}
