.card {
  display: grid;
  grid-template-rows: 15rem auto auto;
  margin: 3rem auto 1rem auto;
  max-width: 15rem;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.text {
  text-align: center;
  padding: 0.5rem;
}

.text h4 {
  font-family: var(--ff-accent);
  font-size: var(--fs-heading);
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text > p {
  font-size: var(--fs-subheading);
  color: var(--clr-accent);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  justify-content: space-around;
}

.info > * {
  margin: 0.2rem;
}

.view {
  background-color: var(--clr-accent);
  justify-self: center;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 25px;
}
