.adoption h3,
.adoption > p {
  text-align: center;
  margin: 0 1.25rem;
}

.adoption h3 {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
}

.adoption > p {
  margin-bottom: 2rem;
  font-family: var(--ff-accent);
  font-size: var(--fs-subheading);
}
