.adoption h3,
.adoption > p {
  text-align: center;
}

.adoption h3 {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
}

.adoption > p {
  font-family: var(--ff-accent);
  font-size: var(--fs-subheading);
}
