.body {
  color: white;
  padding: 10rem 1rem 3rem 1rem;
  text-align: center;
}

.body h2 {
  font-size: var(--fs-title);
  font-family: var(--ff-heading);
  line-height: 1.1;
}

.body p {
  font-size: var(--fs-heading);
  font-family: var(--ff-accent);
  margin: 2rem 0;
}

.search {
  font-size: var(--fs-heading);
}

@media screen and (min-width: 1000px) {
  .body {
    text-align: left;
    max-width: 70%;
    margin: 0 2rem;
  }
}

@media screen and (min-width: 1600px) {
  .body {
    text-align: left;
    max-width: 50%;
    margin: 0 2rem;
  }
}
