.card {
  margin: 1rem 0;
  padding: 1rem;
}

.title {
  font-family: var(--ff-heading);
  font-size: var(--fs-subheading);
}

.info {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.info * {
  word-wrap: break-word;
}

.info a {
  color: var(--clr-accent);
  text-decoration: underline;
}

.label {
  font-family: var(--ff-heading);
}

.none {
  font-style: italic;
}

.information {
  grid-area: info;
  margin-top: 3rem;
}

.hours {
  grid-area: hours;
}

@media screen and (min-width: 1000px) {
  .info {
    flex-direction: row;
    gap: 1rem;
  }

  .information {
    margin-top: 1rem;
  }
}
