.main {
  display: grid;
  grid-template-rows: 20rem;
  grid-template-areas: 'map' 'info' 'hours' 'pets';
  margin: 1rem 2rem;
  max-width: 400px;
}

@media screen and (min-width: 450px) {
  .main {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1000px) {
  .main {
    display: grid;
    grid-template-areas: 'map info' 'map hours' 'pets pets';
    grid-template-columns: 1fr 1fr;
    max-width: 1500px;
    margin: 0 2rem;
  }
}

@media screen and (min-width: 1600px) {
  .main {
    margin: 0 auto;
  }
}
