.main {
  display: grid;
  grid-template-areas: 'breadcrumbs' 'map' 'info' 'hours' 'pets';
  grid-template-rows: max-content 20rem repeat(3, max-content);
  margin: 1rem 2rem;
  max-width: 400px;
  min-height: 70vh;
}

.main * {
  min-width: 0;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info * {
  text-align: center;
  font-size: var(--fs-subheading);
}

@media screen and (min-width: 450px) {
  .main {
    margin: 1rem auto;
  }
}

@media screen and (min-width: 1000px) {
  .main {
    grid-template-areas: 'breadcrumbs breadcrumbs' 'map info' 'map hours' 'pets pets';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    max-width: 1400px;
    margin: 1rem 2rem;
  }
}

@media screen and (min-width: 1450px) {
  .main {
    margin: 1rem auto;
  }
}
