.input {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.input input {
  width: 100%;
  margin: 0 0.5rem;
  border: none;
  outline: none;
}

.suggestions {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background: white;
  color: black;
  z-index: 1;
}

.suggestions ul {
  list-style: none;
}

.suggestions li {
  font-size: var();
  padding: 0.5rem 1rem;
}

.suggestions li:hover {
  background-color: var(--clr-grey-200);
  cursor: pointer;
}

.suggestions button {
  text-align: left;
}

.suggestions hr {
  border: 1px solid var(--clr-accent);
  margin: 0 1rem;
}

.highlight {
  font-weight: bold;
}
