.options {
  font-size: var(--fs-nav);
  list-style: none;
}

.options hr {
  margin: 1rem 0;
  border: none;
  border-top: 1px solid var(--clr-grey-200);
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 2rem;
}

.home .quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-primary-400);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  color: white;
  font-size: var(--fs-subbody);
}

.range {
  text-align: center;
}

.checkbox li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
}

.range p > input {
  width: 4rem;
  border: none;
  outline: none;
  color: var(--clr-accent);
}

.checkbox input {
  transform: scale(1.5);
}
